# Global ignores
.vscode/
.idea/
.DS_Store
*.log

# Exclude environment files
*.env

# Node.js dependencies
node_modules/

# Build directories
build/
dist/

# Temporary files
tmp/
temp/
*.tmp
*.swp

# Output of npm pack
*.tgz
