/* QuestionsList.css */

.questions-list-container {
    height: calc(100vh - 150px);
    overflow-y: scroll;
    padding: 0 15px;
    margin-top: 10px;
  }
  
  .questions-list-row {
    max-height: 100%;
  }
  
  .question-card-col {
    margin-bottom: 15px;
  }
  