/* QuestionCard.css */

.question-card {
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    min-height: 160px;
  }
  
  .question-card:hover {
    transform: scale(1.02);
  }
  
  .question-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-line;
    width: 100%;
    margin-bottom: 10px; 
  }
  
  .question-badge {
    font-size: 0.85rem; 
    padding: 0.3em 0.6em;
    color: #552424; 
  }
  
  .question-categories {
    display: flex;
    flex-wrap: wrap;
  }
  
  .view-question {
    font-weight: bold;
    
    margin-top: auto; 
  }
  
    
  .highlight {
    background-color: cyan;
    font-weight: bold;
  }