.collaboration-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}

.question-and-chatgpt {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-height: 100%;
}

.question-card {
  flex: 3;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatgpt-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatgpt-response {
  flex: 1;
  max-height: 200px; /* Fixed height for the response box */
  overflow-y: auto; /* Enable scrolling if content exceeds height */
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.editor-container {
  flex: 2;
  height: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.language-selector {
  margin-bottom: 5px;
  width: 100%; /* Full width to align with editor */
}

.status {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.status.connected {
  color: green;
}

.status.disconnected {
  color: red;
}

.leave-button {
  margin-top: 10px;
  width: 100%;
}

.chat-box {
  width: 33%;
  max-width: 400px;
  margin: auto;
}

.message {
  padding: 8px
}

.message-display {
  padding-right: 6px; 
}

.message-display::-webkit-scrollbar {
  width: 6px; 
}

.message-display::-webkit-scrollbar-track {
  background: transparent; 
}

.message-display::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211); 
  border-radius: 10px;
}