
body {
    background-color: #fef7ff; /* Light pink background color */
}

.login-container {
    background-color: #f8f9fa; 
    padding: 20px; 
    border-radius: 8px; 
    width: 40%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    min-width: 400px;
    max-width: 800px; 
    margin: 20px auto; 
}

.custom-button {
    background-color: #d8bcfc;
    color: #4A4A4A;
    width: 50%; 
    border-radius: 20px;
    border:rgba(0, 0, 0, 0.1);
    font-size: small;
    font-weight: bold;
  }

.custom-button:hover {
    background-color: #d8bcfc; /* Light pink color */
    color: #4A4A4A;
}

.account-creation {
    color: #a5a4a4;
    font-size: small;
    font-weight:400
  }